<div id="list" class="pure-u-1">
  <input id="userSearch" type="text" style="padding:0.5em;border:none;border-bottom: 1px solid #d9d9d9;width:95%;" autocomplete="off">
  
  <% @notes.each do |note|%>
    <%= link_to note_path(note) do %>
    <article class="note-item pure-g <%= select_current_note(note.id) %>" data-title="<%= note.title %>" id="note_<%=note.id%>" data-id="<%= note.id %>">
        <div class="pure-u-3-4">
            <h5 class="note-name">
              <%= note.title %>
            </h5>
            <p class="note-desc">
              <%= strip_tags(note.content).truncate(100) %>
            </p>
        </div>
    </article>
    <% end %>
  <% end %>
</div>