<div id="nav" class="pure-u">
    <div class="logo-container">
      <div class="logo-wrapper">
        <%= link_to notes_path do %>
          <%= image_tag('logo-head.svg') %>
        <% end %>
      </div>
    </div>
    
    <div id="small-nav">
      <a href="/notes" class="small-nav-logo">
        <%= image_tag('logo-head.svg') %>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "secondary-button pure-button" %>
            <%= link_to 'Add a note', new_note_path, class: "primary-button pure-button" %> 
          <% else %>
            <%= link_to 'Sign in', new_user_session_path, class: "secondary-button pure-button" %> 
          <% end %>
        </li>
      </ul>
    </div>
    
    <div class="nav-inner">
        <% if user_signed_in? %>
          <%= link_to 'Add a note', new_note_path, class: "primary-button pure-button" %> 
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "secondary-button pure-button" %>
        <% else %>
          <%= link_to 'Add a note', new_user_session_path, class: "primary-button pure-button" %>   
          <%= link_to 'Sign in', new_user_session_path, class: "secondary-button pure-button" %>
        <% end %>
    </div>
</div>