<div class="pure-u-1">
  <h1>Sign up</h1>
  <%= form_for @person, html: {class: "pure-form pure-form-stacked"} do |f| %>
    <% if @person.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @person.errors.full_messages.each do |message| %>
            <li><span class="pure-form-message"><%= message %></span></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  
    <div class="action">
      <%= f.submit class: "primary-button pure-button" %>
    </div>
  
  <% end %>
</div>