<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= tag.link rel: 'icon', sizes: '192x192', href: asset_url("logo-head-favicon.png") %>
    <title>Plankr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice%>
      <p class="notice"><%= notice %></p>
    <% end %>
    
    <% if current_page?(new_user_registration_path) || current_page?(user_session_path) || current_page?(new_user_password_path) %>
      <%= yield %>
    <% else %>
      <div id="layout" class="content pure-g">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
